.div1{

    background-color: blueviolet;
    height: 150px;
}
.div2{

    background-color: brown;
    height: 150px;
    width: 200px;
}

.div3{


    background-color: chartreuse;
    height: 150px;
    width: 50%;
}
.div4{

    background-color: cyan;
    height: 100px;
    width: 50%;


}
